---
import MainLayout from '~/layouts/MainLayout.astro'
---

<MainLayout>
	<div class="py-20 pb-24">
		<div
			class="flex flex-col justify-start overflow-clip font-mona text-8xl font-semibold leading-none text-neutral-900"
		>
			<h1 class="invisible text-center">Get In Touch</h1>
		</div>
	</div>
	<div
		class="relative flex content-center items-center justify-center bg-neutral-100 py-24 text-xs"
	>
		<div class="relative flex flex-grow flex-col content-center items-center justify-start px-8">
			<div
				class="invisible relative flex content-start items-start justify-start rounded-3xl"
				id="contact-form"
			>
				<div
					class="relative flex flex-col content-start items-start justify-center gap-[4.50rem] bg-neutral-900 px-12 py-16"
				>
					<div class="flex flex-col content-start items-start justify-center gap-[0.63rem]">
						<div
							style="word-break: break-word;"
							class="flex flex-col justify-start text-[2.50rem] leading-none text-neutral-100"
						>
							<h3>Contact Details</h3>
						</div>
						<div
							style="word-break: break-word;"
							class="flex flex-col justify-start text-lg font-medium text-neutral-200"
						>
							<p>
								Novelio provides a concise format for showcasing essential contact details leaps
								next level of innovation.
							</p>
						</div>
					</div>
					<div
						class="relative flex flex-col content-start items-start justify-center gap-[3.75rem]"
					>
						<div class="flex flex-col content-start items-start justify-center gap-[0.63rem]">
							<div
								style="word-break: break-word;"
								class="flex flex-col justify-start text-[1.38rem] leading-7 text-neutral-100"
							>
								<h4>Our Location</h4>
							</div>
							<div
								style="word-break: break-word;"
								class="flex flex-col justify-start text-lg font-medium text-neutral-200"
							>
								<p>3448 Ile De France St #242, Fort Wainwright, Alaska 99703, United States</p>
							</div>
						</div>
						<div class="flex flex-col content-center items-center justify-center gap-4">
							<div
								style="word-break: break-word;"
								class="flex flex-col justify-start text-[1.38rem] leading-7 text-neutral-100"
							>
								<h4>Phone Number</h4>
							</div>
							<div
								style="word-break: break-word;"
								class="flex flex-col justify-start text-lg font-medium text-neutral-200"
							>
								<p>+1 (717) 550-1675</p>
								<p>+4 (248) 762-0356</p>
							</div>
						</div>
						<div
							class="relative flex flex-col content-start items-start justify-center gap-4 text-neutral-100"
						>
							<div
								style="word-break: break-word;"
								class="flex flex-col justify-start text-[1.38rem] leading-7"
							>
								<h4>Social Media</h4>
							</div>
							<div class="relative flex content-center items-center justify-center gap-3">
								<div class="relative">
									<div class="contents">
										<a class="relative rounded-3xl"
											><div
												class="absolute bottom-[0.50rem] left-[0.50rem] right-[0.50rem] top-[0.50rem] cursor-pointer"
											>
												<div class="contents">
													<svg
														height="1.5em"
														viewBox="0 0 24 24"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
														color='var(--token-1067138e-b66d-4336-8603-018a311a614c, rgb(247, 247, 247)) /* {"name":"Secondary"} */'
														class="inline h-6 w-6"
													>
														<g
															clip-path="url(#basket-ball-alt_svg__clip0)"
															stroke="currentColor"
															stroke-linecap="round"
															stroke-linejoin="round"
															fill="none"
															><path
																d="M17.736 20.192c4.524-3.168 5.623-9.404 2.455-13.928C17.024 1.74 10.788.641 6.264 3.81 1.74 6.976.641 13.212 3.808 17.736c3.168 4.524 9.404 5.623 13.928 2.456zM17.736 20.192L6.264 3.809M19.577 5.473c-3.77 5.896-8.508 9.214-16.302 11.415M13.06 2.056c.413 5.24 3.392 9.494 8.646 12.35M2.293 9.595c4.783 2.18 7.761 6.434 8.647 12.349"
																fill="none"
																stroke="#f7f7f7"></path></g
														>
														<defs fill="none"
															><path fill="rgb(255, 255, 255)" d="M0 0h24v24H0z"></path></defs
														>
													</svg>
												</div>
											</div></a
										>
									</div>
								</div>
								<div class="relative">
									<div class="contents">
										<a class="relative rounded-3xl"
											><div
												class="absolute bottom-[0.50rem] left-[0.50rem] right-[0.50rem] top-[0.50rem] cursor-pointer"
											>
												<div class="contents">
													<svg
														height="1.5em"
														viewBox="0 0 24 24"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
														color='var(--token-1067138e-b66d-4336-8603-018a311a614c, rgb(247, 247, 247)) /* {"name":"Secondary"} */'
														class="inline h-6 w-6"
														><path
															d="M12 11.667H8m4 0s3.333 0 3.333-3.334C15.333 5 12 5 12 5s0 0 0 0H8.6a.6.6 0 00-.6.6v6.067m4 0s4 0 4 3.666C16 19 12 19 12 19s0 0 0 0H8.6a.6.6 0 01-.6-.6v-6.733"
															stroke="#f7f7f7"
															fill="none"></path></svg
													>
												</div>
											</div></a
										>
									</div>
								</div>
								<div class="relative">
									<div class="contents">
										<a class="relative rounded-3xl"
											><div
												class="absolute bottom-[0.50rem] left-[0.50rem] right-[0.50rem] top-[0.50rem] cursor-pointer"
											>
												<div class="contents">
													<svg
														height="1.5em"
														viewBox="0 0 24 24"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
														color='var(--token-1067138e-b66d-4336-8603-018a311a614c, rgb(247, 247, 247)) /* {"name":"Secondary"} */'
														class="inline h-6 w-6"
														><path
															d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z"
															stroke="#f7f7f7"
															stroke-linecap="round"
															stroke-linejoin="round"
															fill="none"></path></svg
													>
												</div>
											</div></a
										>
									</div>
								</div>
								<div class="relative">
									<div class="contents">
										<a class="relative rounded-3xl"
											><div
												class="absolute bottom-[0.50rem] left-[0.50rem] right-[0.50rem] top-[0.50rem] cursor-pointer"
											>
												<div class="contents">
													<svg
														height="1.5em"
														viewBox="0 0 24 24"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
														color='var(--token-1067138e-b66d-4336-8603-018a311a614c, rgb(247, 247, 247)) /* {"name":"Secondary"} */'
														class="inline h-6 w-6"
													>
														<path
															d="M12 16a4 4 0 100-8 4 4 0 000 8z"
															stroke="#f7f7f7"
															stroke-linecap="round"
															stroke-linejoin="round"
															fill="none"></path>
														<path
															d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
															stroke="#f7f7f7"
															fill="none"></path>
														<path
															d="M17.5 6.51l.01-.011"
															stroke="#f7f7f7"
															stroke-linecap="round"
															stroke-linejoin="round"
															fill="none"></path>
													</svg>
												</div>
											</div></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="relative flex flex-grow flex-col content-start items-start justify-center self-stretch bg-neutral-200 p-10"
				>
					<div
						class="relative flex flex-grow content-center items-center justify-center rounded-xl bg-neutral-100 p-10"
					>
						<div class="relative">
							<div class="relative flex flex-col items-center justify-center">
								<form
									class="grid grid-cols-[21.50rem] grid-rows-[119.781px_197.828px_52.3906px] gap-4"
								>
									<div class="grid grid-cols-[21.50rem] grid-rows-[52.3906px_52.3906px] gap-4">
										<input
											value=""
											type="text"
											placeholder="Name"
											class="h-14 w-80 cursor-text rounded-lg bg-gray-200 p-4"
										/><input
											value=""
											type="email"
											placeholder="Email"
											class="h-14 w-80 cursor-text rounded-lg bg-gray-200 p-4"
										/><span
											style="background-position: 50% 50%;"
											class='absolute bottom-[22.88rem] left-[20.38rem] right-[0.25rem] top-[1.13rem] cursor-pointer bg-[url("chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-unknown.svg")] bg-contain bg-no-repeat'
										></span><span
											style="background-position: 50% 50%;"
											class='absolute bottom-[18.75rem] left-[20.38rem] right-[0.25rem] top-[5.38rem] cursor-pointer bg-[url("chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/content/injected/logo-autofill-known.svg")] bg-contain bg-no-repeat'
										></span>
									</div>
									<textarea class="h-48 w-80 cursor-text resize-y rounded-lg bg-gray-200 p-4"
									></textarea><input
										value="Send message"
										type="submit"
										class="inline-block h-14 w-80 cursor-pointer items-start rounded-lg bg-neutral-900 p-4 text-center font-semibold text-neutral-100"
									/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		import { gsap } from 'gsap'
		import { ScrollTrigger } from 'gsap/ScrollTrigger'

		gsap.registerPlugin(ScrollTrigger)

		const tl = gsap.timeline({
			defaults: {
				opacity: 0,
				ease: 'power3.inOut',
				autoAlpha: 0,
			},
		})
		tl.from('h1', {
			y: 180,
			duration: 1,
			skewY: 7,
		}).from('#contact-form', {
			y: 50,
			duration: 1,
			ease: 'expo.out',
			delay: -0.2,
		})
	</script>
</MainLayout>
