---
import { Image } from 'astro:assets';
import Rakez from '~/assets/brands/rakez.png';
import RakIcc from '~/assets/brands/rak-icc.png';
import RHolding from '~/assets/brands/r-holding.png';
import RasAlKahimah from '~/assets/brands/ras-al-khaimah.png';
import Reebok from '~/assets/brands/reebok.png';
import RitzCarlton from '~/assets/brands/ritz-carlton.png';
import Rockport from '~/assets/brands/rockport.png';
import RoveHotels from '~/assets/brands/rove-hotels.png';
import Roxy from '~/assets/brands/roxy.png';
import Sabis from '~/assets/brands/sabis.png';
import Speedo from '~/assets/brands/speedo.png';

const brands = [
  {
    name: 'Rakez',
    logo: Rakez,
  },
  {
    name: 'RAK International corporate centre',
    logo: RakIcc,
  },
  {
    name: 'R Holding',
    logo: RHolding,
  },
  {
    name: 'Amazon',
    logo: RasAlKahimah,
  },
  {
    name: 'Reebok',
    logo: Reebok,
    class: '!opacity-50',
  },
  {
    name: 'Ritz Carlton',
    logo: RitzCarlton,
  },
  {
    name: 'Rockport',
    logo: Rockport,
  },
  {
    name: 'Rove Hotels',
    logo: RoveHotels,
  },
  {
    name: 'Roxy',
    logo: Roxy,
  },
  {
    name: 'Sabis',
    logo: Sabis,
  },
  {
    name: 'Speedo',
    logo: Speedo,
  },
  // add more brands here
  {
    name: 'Rakez',
    logo: Rakez,
  },
  {
    name: 'RAK International corporate centre',
    logo: RakIcc,
  },
  {
    name: 'R Holding',
    logo: RHolding,
  },
  {
    name: 'Amazon',
    logo: RasAlKahimah,
  },
  {
    name: 'Reebok',
    logo: Reebok,
  },
  {
    name: 'Ritz Carlton',
    logo: RitzCarlton,
  },
  {
    name: 'Rockport',
    logo: Rockport,
  },
  {
    name: 'Rove Hotels',
    logo: RoveHotels,
  },
  {
    name: 'Roxy',
    logo: Roxy,
  },
  {
    name: 'Sabis',
    logo: Sabis,
  },
  {
    name: 'Speedo',
    logo: Speedo,
  },
];
---

<section class="flex justify-center bg-neutral-100">
  <ul class="ticker-container flex w-full overflow-hidden whitespace-nowrap py-6 text-neutral-100">
    <div class="ticker-items flex space-x-4">
      {
        brands.map((brand, index) => (
          <li class="inline-block w-24" title={brand.name}>
            <Image
              src={brand.logo}
              alt={brand.name}
              class:list={['h-12 w-auto opacity-80 [filter:grayscale(1)]', brand?.class]}
              width={100}
              height={100}
            />
          </li>
        ))
      }
    </div>
  </ul>
</section>

<script>
  import { gsap } from 'gsap';

  // Get the ticker wrapper
  const tickerContainer = document.querySelector('.ticker-container');
  const tickerWrapper = document.querySelector('.ticker-items');
  if (tickerContainer && tickerWrapper) {
    tickerContainer.innerHTML += tickerContainer.innerHTML;

    // set the width of the container
    gsap.to('.ticker-items', {
      xPercent: -100,
      duration: 25,
      ease: 'none',
      repeat: -1,
    });
  }
</script>
