---
import { Image } from 'astro:assets';
const { pathname } = Astro.url;
---

<nav
	class:list={[
		'relative flex h-min content-center items-center justify-center overflow-visible bg-neutral-100 py-8 text-xs',
		{ 'bg-white': pathname === '/contact' },
	]}
>
	<div class="relative h-auto w-[88%]">
		<div class="relative flex content-center items-center justify-between">
			<a href="/">
				<Image
					src={'https://brandproductions.ae/image/logo.png'}
					class="h-10 w-auto"
					width={126}
					height={40}
					alt="Brand Productions"
					loading="eager"
				/>
			</a>

			<div
				class="relative flex h-min w-min content-start items-start justify-start gap-10 overflow-visible"
			>
				<div
					class="relative flex h-min w-min content-center items-center justify-center overflow-visible text-lg font-medium text-blue-700"
				>
					<div class="relative h-auto w-auto">
						<div class="contents">
							<a
								href="https://innovision.framer.website/./"
								class="relative flex h-min w-min content-center items-center justify-center overflow-visible"
							>
								<div
									class="relative flex h-min w-min cursor-pointer flex-col content-start items-start justify-center overflow-visible text-neutral-700"
								>
									<p>Home</p>
								</div></a
							>
						</div>
					</div>
				</div>
				<div
					class="relative flex h-min w-min content-center items-center justify-center overflow-visible text-lg font-medium text-blue-700"
				>
					<div class="relative h-auto w-auto">
						<div class="contents">
							<a
								href="/services"
								class="relative flex h-min w-min content-center items-center justify-center overflow-visible"
								><div
									class="relative flex h-min w-min cursor-pointer flex-col content-start items-start justify-center overflow-visible text-neutral-700"
								>
									<p>Services</p>
								</div></a
							>
						</div>
					</div>
				</div>
				<div
					class="relative flex h-min w-min content-center items-center justify-center overflow-visible text-lg font-medium text-blue-700"
				>
					<div class="relative h-auto w-auto">
						<div class="contents">
							<a
								href="/works"
								class="relative flex h-min w-min content-center items-center justify-center overflow-visible"
								><div
									class="relative flex h-min w-min cursor-pointer flex-col content-start items-start justify-center overflow-visible text-neutral-700"
								>
									<p>Works</p>
								</div></a
							>
						</div>
					</div>
				</div>
				<div
					class="relative flex h-min w-min content-center items-center justify-center overflow-visible text-lg font-medium text-blue-700"
				>
					<div class="relative h-auto w-auto">
						<div class="contents">
							<a
								href="/about"
								class="relative flex h-min w-min content-center items-center justify-center overflow-visible"
								><div
									class="relative flex h-min w-min cursor-pointer flex-col content-start items-start justify-center overflow-visible text-neutral-700"
								>
									<p>About</p>
								</div></a
							>
						</div>
					</div>
				</div>
			</div>

			<a
				href="/contact"
				class="whitespace-no-wrap group inline-flex items-center justify-center rounded-full border bg-brand px-6 py-3.5 text-base font-medium leading-6 text-white focus:shadow-none focus:outline-none"
				data-rounded="rounded-md"
			>
				Contact us
				<svg
					xmlns="http://www.w3.org/2000/svg"
					focusable="false"
					viewBox="0 0 24 24"
					color="rgb(247, 247, 247)"
					fill="rgb(247, 247, 247)"
					class="ml-3 inline-block h-5 w-5 transition-transform duration-500 ease-in-out group-hover:-rotate-45 group-hover:transform"
					><path
						d="M15 5l-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"
						fill="rgb(247, 247, 247)"></path></svg
				>
			</a>
		</div>
	</div>
</nav>
