---

---

<div class="relative mx-auto flex h-min w-full justify-center bg-neutral-100">
	<div class="z-10 w-full max-w-screen-2xl px-10 lg:px-14 xl:px-24">
		<div class="overflow-clip rounded-4xl bg-white [background-image:var(--gradient-1)]">
			<div class="w-full backdrop-brightness-90">
				<div
					class="mx-auto flex max-w-lg flex-col items-center gap-12 py-24 text-center lg:max-w-3xl"
				>
					<h2 class="heading-1 font-bold text-white">Have a project in mind?</h2>
					<a
						href="/contact"
						class="whitespace-no-wrap group inline-flex items-center justify-center rounded-full border bg-white px-12 py-5 text-base font-medium leading-6 text-neutral-900 focus:shadow-none focus:outline-none"
						data-rounded="rounded-md"
					>
						Contact us
						<svg
							xmlns="http://www.w3.org/2000/svg"
							focusable="false"
							viewBox="0 0 24 24"
							color="rgb(0, 0, 0)"
							fill="rgb(0, 0, 0)"
							class="ml-3 inline-block h-5 w-5 transition-transform duration-500 ease-in-out group-hover:-rotate-45 group-hover:transform"
							><path
								d="M15 5l-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z"
								fill="rgb(0, 0, 0)"></path></svg
						>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="absolute bottom-0 left-0 right-0 h-40 w-full bg-neutral-900"></div>
</div>
